---
import ThemeToggleButton from "./ThemeToggleButton.astro";
---

<header class="flex">
  <nav class="flex-1">
    <div class="flex justify-between">
      <div>
        <a href="/">datle.dev</a>
      </div>
      <div>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <a href="/tags">Tags</a>
      </div>
    </div>
  </nav>
  <ThemeToggleButton />
</header>
